 body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50px;
    background: #202020;
    color: #fff;

    &:not(.user-is-tabbing) {
      button:focus,
      input:focus,
      select:focus,
      textarea:focus {
        outline: none;
      }
    }  
}

.keys__container {
    -webkit-app-region: no-drag;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-content: flex-end;
    

    .item {
      flex: 1 1 20%;
      font-size: 0.9em;
      text-align: center;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #333;
      background-color: #202020;
      color: #fff;
      border-radius: 5px;
      margin: 2px;
      padding: 20px 0;
      -webkit-app-region: no-drag;

      &:active {
        box-shadow: inset 0 0 10px #111;
      }

      &--equals {
        background: #fff;
        color: #333;

        &:active {
          box-shadow: inset 0 0 10px #777;
        }
      }
    }

    
  }
  
  .screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
    font-size: 2.4em;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    flex: 1 1 100%;
    height: 102px;
    border-bottom: 2px solid #000;


    .screen__result {
      display: flex;
      flex-direction: row;
      padding: 5px 20px;
      align-self: flex-end;
    }
  }
  
  .space {
    height: 70px;
    border-bottom: 2px solid #000;
    margin-bottom: 2px;
  }
  