body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #202020;
  color: #fff;
}

#app {
  display: flex;
}

.keys-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-direction: row;
  height: 100%;
  align-content: flex-end;
}

.item {
  flex: 1 1 20%;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #333;
  border-radius: 5px;
  margin: 2px;
  padding: 20px 0;
}
